<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/signup" method="post">
        <label for="Name">Name</label> <br>
        <input type="name" name="name" id="Name"><br>
        <label for="Email">Email ID</label> <br>
        <input type="email" name="email" id="Email"><br>
        <label for="Password">Password</label><br>
        <input type="password" name="password" id="password"><br>
        <input type="submit"  value="Register" id="">
        </form>
    <a href="{{url_for('login')}}">Already have an account.</a><br>
</body>
</html>